{% extends 'Layout.html.twig' %}
    {% block content %}
        <ol>
            {% for submission in submissions %}
                <li>
                    <a href="{{ submission.url }}">{{ submission.title|raw }}</a>
                </li>
            {% endfor %}
        </ol>
    {% endblock %}